body {
	width: 800px;
	margin: 0 auto;
}

h1 {
	margin-bottom: 50px;
	font-size: 150%;
	text-align: center;
}

.container {
	background-color: #efefef;
	padding: 25px;
}

.pure-button {
	margin-left: 45%;
	margin-top: 20px;

	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(28, 184, 65); /* this is green */
}
