body {
	color: white;
	font-family: Helvetica, sans-serif;
	background-image: url('../img/Background_main.png');
	background-size: cover;
	background-image: no-repeat;
}
 
.form {
	margin: auto;
	width: 560px;
}

a {
	text-decoration: none;
}
	
		/* TOP BAR */


.top {

	height: 36px;
	margin-bottom: 100px;
	background-image: url('../img/Background_header.png');
}

.headermenu {
	width: 960px;
	float: right;
}


.flag {
	vertical-align: middle;
	display: inline-block;
	margin: 0 0 0 10px;
}

.button_blue {
	display: inline-block;
	padding: 9px;
	margin: 0 10px 0 10px;


	background: linear-gradient(to bottom, #4faddb 0%, #2e7ac4 100%);
	border: 1px solid #6bb8e7;
}

.button {
	margin: 0 10px 0 10px;
	display: inline-block;
}

span a {
	color: white;
	text-decoration: underline;
}

.line {
	display: inline-block;
	padding-top: 1px;
	margin-right: 10px;
	vertical-align: middle;
}
		/* MENU_TOP */

ul li a {
	float: left;
	padding: 10px;
	margin-right: 20px;	
	color: #4eabda;
}


ul li a:hover {
	padding: 10px;
	color: white;
	background-color: #4eabda; 
}

		/* MAIN FORM */

.head {
	margin-bottom: 2px;
	border-radius: 6px 6px 0 0;
	background-color: rgba(0, 0, 0, .65);
}

.head span {
	display: block;
	text-align: center;
	padding: 22px;
	font-size: 24px;
	color: white;
}

.text {
	position: relative;
}


.text p {
	margin: 20px;
	font-size: 14px;
	color: #cccccc;
}


		/* LINES */

.OU-block {
	padding: 30px 0 30px 0;
}

.block-line {

	clear: both;
	display: inline-block;
	width: 122px;
	padding-bottom: 3px;
}

.bottom-line {
	border-top: 1px solid #000000;
}

.top-line {
	border-top: 1px solid #666666;
}	

.OU-block span {
	font-family: Tahoma;
	font-size: 14px;
	color: #999999;
}

.body {
	padding: 35px 0 35px 0;
	border-radius: 0 0 6px 6px;
	background-color: rgba(0, 0, 0, .65);
	text-align: center;
}

.facebook_button {
	position: relative;
	display: inline-block;
	width: 276px;
	height: 35px;
	border-radius: 5px 5px 5px 5px;
	background: linear-gradient(to bottom, #3d5696 0%, #2e4476 100%);
	border-top: 1px solid #758fbb;
	color: white;
}

.facebook_button .fb {
	position: absolute;
	top: 8px;
	left: 15px;
}

.facebook_button .arrow {
	position: absolute;
	top: 10px;
	right: 15px;
}

.border_1 {
	position: absolute;
	height: 35px;
	left: 40px;
	border-left: 1px solid #1f3c76;
}

.border_2 {
	position: absolute;
	height: 35px;
	left: 41px;
	border-right: 1px solid #4c68a9;
}

.facebook_button span {
	position: relative;
	top: 10px;
}

[name="input_form"] {
	margin-bottom: 15px;
	background-color: black;
	width: 276px;
	height: 35px;
	border: none;
	border-bottom: 1px solid #4b4b4b;
}

[name="input_form"]:focus {
	background-color: #1b5288;

	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(75,75,75,1);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(75,75,75,1);
	box-shadow: inset 0px 0px 5px 1px rgba(75,75,75,1);

	-webkit-box-shadow: 0px 0px 5px 1px rgba(74,183,255,0.73);
	-moz-box-shadow: 0px 0px 5px 1px rgba(74,183,255,0.73);
	box-shadow: 0px 0px 5px 1px rgba(74,183,255,0.73);
}

[name="check"] {
	margin: 10px 0 20px 0;
}

.check {
	margin-left: 25%;
	text-align: left;
}

[value="Create my Account"] {
	width: 150px;
	height: 35px;
	border-radius: 3px;
	background: linear-gradient(to bottom, #4faddb 0%, #2e7ac4 100%);
	border: 1px solid #6bb8e7;
	color: white;
	font-size: 14px;
}

[value="Create my Account"]:hover {
	background: linear-gradient(to top, #4faddb 0%, #2e7ac4 100%);
}

label {
	color: #cccccc;
	font-size: 14px;
}

.text_bottom p {
	color: #cccccc;
	font-size: 11px;
	margin: 20px 40px 0 40px;
}