
body {
	width: 300px;
	margin: auto;
}

#game {
	width: 150px;
	height: 150px;
	background-color: #333333;
}

.block {
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid white;
	box-sizing: border-box; 
	color: white;
	line-height: 50px;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}

.concentricStyle {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	position: relative;
	border: 15px double #333333;
	background-color: white;

	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
}
