body {
	width: 910px;
	font-family: Arial;
	margin: 0 auto;
}

		/*	TOP BAR	*/

.top_info {
	margin: 10px 0 10px 0;
}

/*	contacts	*/
.contacts {
	display: inline-block;
	float: left;
}

.contacts span {
	font-size: 18px;
	color: #5e696d;
}

.phone_img {
	display: inline-block;
	vertical-align: middle;
}

/*	login	*/

.login {
	display: inline-block;
	float: left;
	margin-left: 20px;

	width: 500px;
	height: 26px;
	border-radius: 3px;
	background: linear-gradient(to bottom, #1f6685 10%, #0c3256 100%);

	-webkit-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	-moz-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
}

.auto {
	margin: 4px 0 0 5px;
	display: inline-block;
	vertical-align: middle;
}

.login a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.login span {
	font-size: 12px;
}

.login input {
	width: 112px;
	border-radius: 3px;
	border: 1px solid #9ba1a3;
}

.registration {
	display: inline-block;
	color: white; 
}

.last a {
	margin-left: 23px;
	text-decoration: underline;
	color: #bfbfbf;
}

/*	icon_set	*/
.icons {
	float: right;
	height: 26px;

	border: 1px solid #79878d;
	border-radius: 15px;
}

.icons img {
	margin-top: 6px;
	padding: 0 5px 0 5px;
}

.banner {
	margin-top: 10px;
}


/*	MENU_bar	*/
.menu_bar {

	width: 910px;
	height: 33px;
	background: linear-gradient(to bottom, #576068 5%, #000000 25%);
	border-radius: 5px;
}

.menu {
	margin-left: 130px;
}

.menu li a {
	padding: 10px 10px 0 10px;
	float: left;
	display: block;
	font-family: 'Lucida Sans Unicode';
	font-size: 14px;
	color: #b1bcc0;
	text-decoration: none;
}

.menu li a:hover {
	display: block;
	background: linear-gradient(to bottom, #206988 10%, #0c3256 100%);
	height: 23px;
	border-radius: 25px;
	color: white;
}

.buying {
	margin-top: 5px;
	float: right;
}

.cart {
	vertical-align: middle;
	display: inline-block;
}

.buying {
	margin-right: 40px;
}

.buying .grey {

	font-size: 11px;
	color: #929b9f;
}

.buying .nums {

	font-size: 12px;
	color: #1174b9;
}

		/*	FORMS	*/

.forms {
	clear: both;
	margin-top: 10px;
}

.pre-title {
	display: inline-block;
	width: 75px;
	font-size: 10px;
	color: black;
}

.pre-title span {
	color: grey;
}

.search {
	clear: both;
	margin-right: 6px;
	display: block;
	float: right; 
	color: #154467;
	font-style: italic;
	font-size: 12px;
}

	/*	1-1-1-1-1   	*/

.search_car {
	position: relative;
	margin: 0 5px 0 0;
	padding: 5px;
	width: 414px;
	float: left;
	border: 1px solid #79878d;
	border-radius: 15px;

	-webkit-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	-moz-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
}

.search_car > p {
	position: absolute;
	left: 110px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	color: #154467;
}

.title p {
	font-size: 11px;
	font-weight: bolder;
}
.title {
	float: left;
	margin: 5px;
	font-weight: bold;
	color: #154467;
}

.title_2 p {
	text-align: right;
	right: 15px;
	font-size: 11px;
	font-weight: bolder;
}
.title_2 {
	float: right;
	margin: 5px;
	font-weight: bold;
	color: #154467;
}


		/*	selector long */

.select_field {
	display: inline-block;
	width: 110px;
	height: 18px;
	margin-top: 3px;
	padding: 0px;
	border: 0 none;
	background-color: white;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.select_field:before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;

	border: 1px solid #b6b6b6;
	right: 1px;
}

.select_field:after {
	content: "";
	width: 0;
	height: 0;

	border-top: 7px solid #0c3256;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: absolute;
	z-index: 2;

	top: 6px;
	right: 3px;
}
.select_field > select {
	width: 110px;
}

		/*	selector small */


.select_field_small {
	display: inline-block;
	width: 52px;
	height: 18px;
	margin-top: 3px;
	padding: 0px;
	border: 0 none;
	background-color: white;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.select_field_small:before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	right: 1px;

	border: 1px solid #b6b6b6;
}

.select_field_small:after {
	content: "";
	width: 0;
	height: 0;

	border-top: 7px solid #0c3256;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: absolute;
	z-index: 2;

	top: 6px;
	right: 4px;
}

	/*	2-2-2-2-2   	*/

.search_tires {
	position: relative;
	padding: 5px;
	width: 192px;
	float: left;
	border: 1px solid #79878d;
	border-radius: 15px;

	-webkit-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	-moz-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
}

.search_tires > p {
	font-size: 14px;
	font-weight: bolder;
	color: #154467;
}

.tires_block  .t {
	display: inline-block;
	width: 45px;
	font-size: 10px;
	font-weight: bolder;
	color: black;
}

.checkboxes {
	display: inline-block;
	font-size: 10px;
	font-weight: bolder;
	color: black;
}

.content_select div {
	display: inline-block;
}

fieldset input[type="checkbox"] {
	background-image: none;
}

fieldset input[type="checkbox"] {
	border: 0 none;
	width: 12px;
	height: 12px;
	background-color: white;
	z-index: 1;

	-webkit-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

		/*	selector small_tires */

.select_2 {
	position: relative;
}

select {
	width: 52px;
	height: 18px;
	margin: 0px;
	padding: 0px;
	border: 0 none;
	background-color: white;

	-webkit-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.select_2:before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;

	border: 1px solid #b6b6b6;

	right: 1px;
}

.select_2:after {
	content: "";
	width: 0;
	height: 0;

	border-top: 7px solid #0c3256;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: absolute;
	right: 3px;
	top: 5px;
	z-index: 2;
}



	/*	3-3-3-3-3   	*/

.search_discs {
	padding: 5px;
	width: 250px;
	float: right;
	border: 1px solid #79878d;
	border-radius: 15px;

	-webkit-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	-moz-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
}

.discs {
	width: 75px;
}

.discs p {
	color: grey;
	line-height: 10px;
}

.discs span {
	color: grey;
}

.discs_2 {
	font-size: 10px;
	color: black;
}

.discs_2 p {
	width: 68px;
	color: grey;
	line-height: 10px;
}

.search_discs > p {
	float: left;
	font-size: 14px;
	font-weight: bolder;
	color: #154467;
}

.search_discs .discs {
	display: inline-block;

	font-size: 10px;
	font-weight: bolder;
	color: black;
}

.discs_left {
	clear: left;
	float: left;
	margin-left: 15px;
}

.discs_right {
	position: relative;
	top: -15px;
	float: right;
	margin-right: 20px;
}

/*	selectors	*/

		/*	CONTENT	*/

.main_title {
	margin: 17px 0 17px 0;
	border: 1px solid #79878d;
	border-radius: 15px;
	padding: 2px;


	-webkit-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	-moz-box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
	box-shadow: 3px 3px 5px -2px rgba(150,150,150,1);
}

.main_title span, .main span {
	display: inline-block;
	font-family: 'Lucida Sans Unicode';
	font-size: 12px;
	color: #114165;
}

.icon_hpg {
	display: inline-block;
	vertical-align: middle;
}

.icon_circle {
	display: inline-block;
	vertical-align: middle;
}

.main {
	width: 148px;
	margin: 17px 0 17px 0;
	border: 1px solid #79878d;
	border-radius: 15px;
	padding-left: 3px;
	padding-top: 2px;
}


.list li {
	list-style-type: circle;
	margin-left: 45px;
}

.list li a {
	text-decoration: none;
	display: block;
	margin: 8px 8px 8px 0px;
	color: #465961;
	font-size: 13px;
}

.list li a:hover {
	color: #0c3256;
	text-decoration: underline;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}

.content {
	clear: both;
}		
		/*	left_bar  */


.section_left {
	width: 180px;
	float: left;
}

		/*	right_bar  */

.section_right {
	width: 180px;
	float: right;
}


		/*	CONTENT	*/

.flex_container {
	float: left;
	margin: 20px 15px 0 15px;
}

.goods {

	border-radius: 5px;
	background: linear-gradient(to bottom, #c9cfd1 10%, #93a7b0 100%);
	width: 520px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #c6cfd3;
}

.gods_block {
	text-align: center;
	margin: 10px;
}

.goods p:nth-child(2)  {
	font-family: 'Lucida Sans Unicode';
	font-size: 12px;
}

.goods p:first-child  {
	color: #114165;
	font-family: 'Lucida Sans Unicode';
	font-size: 15px;
	font-weight: bolder;
}

.goods p:last-child  {
	color: #114165;
	font-family: Arial;
	font-size: 16px;
	font-style: italic;
	font-weight: bolder;
}

/*	checkbox_style	*/

.check_tires {
	margin-left: 8px;
}

.check_tires input[type="checkbox"] {
	margin-left: 10px;
    display:none;
}
.check_tires input[type="checkbox"] + label span {
    display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/checkbox.png) left top no-repeat;
    cursor:pointer;

    font-family: 'Lucida Sans Unicode';
	font-size: 12px;
	color: #114165;
}

.check_tires input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox_checked.png) no-repeat;
}

/*	submit	*/

input[type="submit"] {
		margin-top: 10px;
		width: 80px;
		height: 26px;

		color: white;
		font-size: 11px;

		background: linear-gradient(to bottom, #206988 10%, #0c3256 100%);
		border: 1px solid #a7abae;
		border-radius: 15px;
}


	/*	FOOTER	*/

footer {
	clear: both;
}

.logos {
	padding-top: 50px;
	padding-bottom: 20px;
	margin: auto;	
	width: 676px;
	display: flex;
	justify-content: space-around;
}

.bkg {
	min-height: 100px;
	background-color: #213a4d;
}

.bottom_menu {
	float: right;
	position: relative;
	margin: 15px;
}

.bottom_menu li {
	float: left;
	position: relative;
	right: 90%;
}

.bottom_menu li a {
	display: inline-block;
	margin-right: 15px;
	font-family: Arial;
	font-size: 12px;
	color: #bec6c9;
	text-decoration: none;
}

.bottom_menu li a:hover {
	color: #52abcb;
}

.copyright {
	clear: both;
	font-size: 10px;
	color: #7f4740;
	margin: 0 auto;
}

.cont_text {
	text-align: center;
}
